
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
@model WebDemo2.Models.User
    <p>@Model.id</p>
    <p>@Model.username</p>
    <p>@Model.password</p>
