
@using WebDemo2.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.Student;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    if (Request.Cookies["CreateStudent"] != null && list!=null)
    {

        <table>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Birthday</th>
                <th></th>
            </tr>
            @foreach (Student student in list)
            {
            <tr>
                <td>@student.Id</td>
                <td>@student.FullName</td>
                <td>@student.Birthday.ToString("MM-dd-yyyy")</td>
            </tr>
            }
        </table>
    }
    else
    {
        <h2>Danh sach hoc sinh trong</h2>
    }
}

             

